body{
    padding: 0;
    margin: 0;
    background:black;
}

#wrapper{
    width: 100%;
}
a{
    color: #cc1a00;
    text-decoration: none;
    transition: all.6s ease;
    -o-transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
}
a:hover{
    color:#7438ff;
    text-decoration: none;
    transition: all.6s ease;
    -o-transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
}
nav{
    background-color: #434042;
    height: 22px;
    opacity: 0.9;
}

nav a{
    color:white;
    float:right;
    font-family: 'Comfortaa', cursive;
    font-size: smaller;
    margin-right: 15px;
    padding: 5px;
}
nav a:hover{
    color:#fed136;
}
div{
    box-sizing: border-box;
}
h1 {
    font-size: 65px;
    color: #cc1a00;
    text-transform: uppercase;
    text-align: center;
    margin: 55px;

    font-family: 'Lobster', cursive;
}
h2{
    font-size: 50px;
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
}

h3{
    font-size: 37px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: lighter;
    text-align: center;
}

h4{
    font-size: 35px;
    font-family: 'Lobster', cursive;
    color: #509afe;
    text-align: center;
}
em{
    font-family: 'Comfortaa', cursive;
}

#titles__first{
    font-size: 65px;
    color: #4b50a6;
    text-transform: uppercase;
    text-align: center;
    margin: 55px 25px 400px 10%;
    font-family: 'Lobster', cursive;
}
.fa-times{
    color: white;
    padding-left: 25px;
}

.container {
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center top;
    background-image: url(../img/tanks.jpg);
    margin-top:0px;
    height: 100vh;
}


.button {
    background: #fed136;
    color: #484543;
    border-radius: 7px;
    display: block;
    width: 240px;
    padding: 20px 0;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin: 180px auto 0;
}

.button:hover{
    background: red;
    color: wheat;
}

#mobile-menu{
    width:100%;
    padding-top: 5px;

}
#mobile-menu span{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 11px;

}
.MenuBtn{
    display: inline-block;
    width: 143px;
    padding: 10px 0;
    margin-bottom: 10px;
    background: #509afe;
    color: white;
    border-radius: 27px;
    text-align: center;

}
.MenuBtn:hover{
    background: white;
    color: #1d1d1d;
}
#img1,#img2,#img3{
    overflow: hidden;
    width: 40%;
    height: 500px;
    padding: 10px;
    background-color: black;
    font-size: 18px;
    font-family: 'Comfortaa', cursive;
    opacity: 90%;
    border-radius: 20px;
    color: #cc1a00;
}
#img1{
    float:left;
}
#img2{
    float:right;
}
#img1 img{
    width:80%;
    padding-left: 10%;
    height: auto;

}
#img2 img{
    margin-top:15%;
    width: 90%;
    padding-left: 5%;
    height: auto;
}
#img3 img{
    margin-top:10%;
    width: 95%;
    padding-left: 2.5%;
    height: auto;
}
#FirstSection,#Strategy,#mark{
    margin-left: 5%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 22px;
    width: 90%;
    padding: 30px 20px 40px;
    overflow: hidden;
}
#FirstSection{
    background-color: #808cda;
}
#FirstSection>h3{
    font-size: 55px;
}
#Strategy{
    background-color: #653216;
     color: wheat;
}
.advices{
    font-family: "Roboto Thin", serif;
    font-size: larger;
    color:   white;
}
#mark{
    background-color: #fed136;
    margin-bottom: 20px;
}
#mark h1{
    color: #cc1a00;
}
.mark{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.mark{

    background-color: #22cc00;
    border-radius: 15px;
    color: white;
    padding: 4px 30px;
    margin-bottom: 30px;

}
#SecondSection h3
{
    padding-top: 15px;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 35px;
}

#SecondSection p{
    float:left;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 22px;

}

#SecondSection p i{
    color: #509afe;
    font-family: 'Lobster', cursive;

}

.rounded {
    padding-left: 5%;
    counter-reset: li;
    list-style: none;
    font: 18px "Trebuchet MS", "Lucida Sans";

    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.rounded span {
    width: 90%;
    position: relative;
    display: inline-block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #DAD2CA;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: .3s ease-out;
}

.rounded span:hover {
    background: #E9E4E0;
}
.rounded span:hover:before {
    transform: rotate(360deg);
}
.rounded span:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #8FD4C1;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .2em solid #509afe;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

footer{
    float:left;
    background-color: black;
    width:98%;
    padding: 1%;
    color:white;
    border-top:5px solid #fed136;
    font-family: 'Lobster', cursive;
}
#site_name{
    margin-right: 5%;
    color:#f4f4f4;
    font-size: 1.3em;
    float:right;

}
#site_name>span{
    font-family: 'Comfortaa', cursive;
    color: #cc6e16;
}
@media (max-width: 1080px) {
    #clear{
        clear: both;
    }

}

#footer_menu{

    font-size: 1.0em;
}
#footer_menu>a{
    margin-left: 2%;
    color:#f4f4f4;
}
#footer_menu>a:hover,#rights>a:hover{
    border-bottom: 1px solid silver;
    color: #cc95a1;
}
#rights{
    float:left;
    margin-left:5%;
    font-size:0.75em;
}
#rights>a{
    color:#f4f4f4;
}
#rules{
    float:right;
    font-size:0.94em;
    width:40%;
    margin-right:5% ;
    margin-top: 10px;
}

#rules>a{
    color:#f4f4f4;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: black;
    margin-left:2% ;
    width: 90px;
    height: 35px;
    float:right;
    text-align: center;
    line-height: 34px;
}
#rules>span{
    margin-right:10%;
}
#rules>a:hover{
    background-color:#fed136;
    color: black;
}

@media(min-width: 985px)and (max-width: 1247px){
    #text{
        font-size: 13px;
        padding-right: 67px;
        padding-left: 65px;
    }
}
@media(max-width: 984px){

    #hidden-menu{
        display: none;
        visibility: hidden;
    }

    #text{
        padding-left: 40px;
        padding-right: 40px;
    }

    #text p{
        font-family: 'IBM Plex Sans', sans-serif;
        font-size:12px ;
    }
    #text h3{
        font-size: 32px;
    }
}

@media(min-width: 985px){
    #mobile-menu{
        display: none;
        visibility: hidden;
    }
}